
.elemento{
    border: black solid 1px;
    height: 75px;
    width: 75px;
}
.numero_atomico{
    font-size: 15px;
}
.simbolo{
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
.massa_atomica{
    font-size: 15px;
}
#removeDiv{
    width: 400px;
    height: 175px;
    z-index: 5;
    margin-top: -700px;
    margin-left: 400px;
}
#infoDiv{
    height: 175px;
    width: 400px;
}
.elemento:hover{
    z-index: 6;
    margin-top: -10px;
}
